.sidebar{
    height: 100vh;
    border-right: 1px solid #8EC1CA;
    background-color: #69adba;
    color: white;
}

.sidebar a{
    color: white;
    text-decoration: none;
}

hr{
    border-style: inset;
    border-width: 1px;
    border-color: white;
}

.img-fluid{
  width: 35%;
  border-radius: 50%;
  border: white 1px solid;
}


.list-group-item{
  background-color: #69adba;
  color: white;
  border: 0.1vh solid #8EC1CA;
  /* Vertically Center */
}

.list-group-horizontal .list-group-item{
  background-color: #69adba;
  color: white;
  border: 0.1vh solid #8EC1CA;
  /* Vertically Center */
  display: flex;
  align-items: center;
  justify-content: center;
}

